---
// Component Imports
import BaseHead from '../components/BaseHead.astro';
import Hero from '../components/Hero.astro';
import MainNav from '../components/MainNav.astro';
import Services from '../components/Services.astro';
import { SITE } from '../config';

// Component Script:
// You can write any JavaScript/TypeScript that you'd like here.
// It will run during the build, but never in the browser.
// All variables are available to use in the HTML template below.
let { title } = SITE;
let description = 'The perfect starter for your perfect blog.';
let permalink = 'https://example.com/';

// Data Fetching: List all Markdown posts in the repo.

let allPosts = await Astro.glob('./posts/*.md');
allPosts = allPosts.sort((a, b) => new Date(b.frontmatter.publishDate).valueOf() - new Date(a.frontmatter.publishDate).valueOf());

// Full Astro Component Syntax:
// https://docs.astro.build/core-concepts/astro-components/
---
<!DOCTYPE html>
<html lang="en">
    <BaseHead {title} {description} {permalink} />
    <title>{title}</title>
    <meta name="description" content={description} />
    <link rel="canonical" href={permalink} />
<body>
    <MainNav />
    <Hero />
    <Services />
</body>
</html>
